.spring-festival-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    /* Below egg (9999) but above content */
    pointer-events: none;
    /* Let clicks pass through */
}